<% provide(:title, "Show model") %>

<h1>Model Details</h1>
<p>
	<strong>Title:</strong>
	<%= @url_data_model.title %>
</p>

<p>
	<strong>URL:</strong>
	<%= @url_data_model.url_address %>
</p>

<p>
	<strong>PDF Version::</strong>
	<%= @url_data_model.title %>
</p>

<p>
	<strong>Producer:</strong>
	<%= @url_data_model.title %>
</p>

<p>
	<strong>Page Count:</strong>
	<%= @url_data_model.title %>
</p>